<div class="container">
  <div class="card">
    <h4>trabajo</h4>
    <img src="../../images/trabajo_angular.jpg" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat unde distinctio tempora non et aliquam</p>
    <a href="">Leer más</a>
  </div>
  <div class="card">
    <h4>trabajo</h4>
    <img src="" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat unde distinctio tempora non et aliquam</p>
    <a href="">Leer más</a>
  </div>
  <div class="card">
    <h4>trabajo</h4>
    <img src="" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat unde distinctio tempora non et aliquam</p>
    <a href="">Leer más</a>
  </div>
</div>
