<div class="works" id="works">
  <div class="card">
    <h4>Hamburgueseria Rovers</h4>
    <a href="https://develop--stately-llama-d0ff5e.netlify.app/"
      ><img src="../../../assets/images/hamburguesa-principal.jpg" alt=""
    /></a>
  </div>
  <div class="card">
    <h4>Generador Código QR</h4>
    <a href="https://cheerful-sunburst-39e452.netlify.app/"
      ><img src="../../../assets/images/qr.jpeg" alt=""
    /></a>
  </div>
  <div class="card">
    <h4>trabajo</h4>
    <img src="" alt="" />

    <a href="">Leer más</a>
  </div>
</div>
