.works {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.works .card {
  width: 330px;
  height: 18em;
  border-radius: 8px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: #265073;
  color: #ecf4d6;
  font-family: "Familjen Grotesk", sans-serif;
}

.works .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.works .card img {
  width: 330px;
  height: 220px;
}

.works .card h4 {
  font-weight: 600;
}

.works .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.works .card a {
  font-weight: 500;
  text-decoration: none;
  color: #265073;
}
