.container {
  background-color: rgb(90, 0, 0);
}

.link {
  display: flex;
  justify-content: space-around;
  transition: 1s;
}

.link div a i {
  font-size: 40px;
  padding: 0.5em;
  color: black;
}
