<div id="contacto">
  <div class="link">
    <div>
      <a href="https://github.com/">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    <div>
      <a href="./assets/pdf/raimon.pdf" download="raimon.pdf">
        <i class="fa-solid fa-file"></i>
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/feed/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div>
      <a href="mailto:apiki1489@hotmail.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
    <div>
      <a href="https://wa.me/622291905">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </div>
</div>
