<div class="container">
  <div class="photo">
  </div>
  <div class="underline">
    <hr noshade="noshade">
    <span>X</span>
  </div>
  <div class="my">
    <h2>MI NOMBRE ES RAIMON <span>.</span> <br>
      SOY <span>DEVELOPER
      </span> FULL-STACK</h2>
    <p>pincha aquí para más infomación</p>
  </div>
  <div class="underline">
    <hr noshade="noshade">
    <span>X</span>
  </div>
  <div class="works">
    <h2>MIS TRABAJOS</h2>
  </div>
  <div class="underline">
    <hr noshade="noshade">
    <span>X</span>
  </div>
</div>
