<div class="container">
  <div class="my">
    <h2>HOLA! MI NOMBRE ES RAIMON <br>
      SOY <span>DEVELOPER</span> FULL-STACK</h2>
  </div>
  <div class="photo">
    <div class="content">
      <div id="titleHover">SKILLS</div>
      <div>
        <h3> HTML</h3>
      </div>
      <div>
        <h3> CSS</h3>
      </div>
      <div>
        <h3> JS</h3>
      </div>
      <div>
        <h3> ANGULAR</h3>
      </div>
      <div>
        <h3> NODE JS</h3>
      </div>
      <div>
        <h3> EXPRESS</h3>
      </div>
      <div>
        <h3> MONGO DB</h3>
      </div>
      <div>
        <h3> BOOTSTRAP</h3>
      </div>
      <div>
        <h3> MYSQL</h3>
      </div>
    </div>
  </div>
</div>
<div class="info">
  <h2>UN POCO MÁS SOBRE MI</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet perspiciatis a blanditiis repudiandae voluptatem! Labore quos doloribus, tempora eveniet hic debitis at asperiores temporibus! Necessitatibus accusantium mollitia nihil dolor aliquam?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam culpa mollitia ad, quae harum odio commodi omnis, nobis maiores, est adipisci quos ratione totam et? Maxime reiciendis aliquam voluptates in?</p>
</div>
