.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
  gap: 7em;

}

.container div {
  max-width: 100%;
  margin: 0 auto;
  transition: .5s;
}

h2 {
  -webkit-text-stroke: 1px rgb(21, 9, 9);
  color: transparent;
}

h3 {}

p {
  color: white;
  font-size: 24px;
}

.photo {
  margin-top: 100px;
  background-image: url('../../images/_DSC0172.JPG');
  background-size: cover;
  border: 2px solid rgb(21, 9, 9);
  border-radius: 5%;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
  height: 50vh;
  width: 50%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5em;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: .5s;
  color: white;
}

.content .titleHover {
  font-size: 35px;
  float: left;
}

.content div {
  width: 33.333%;
  height: 33.333%;

}

.photo:hover .content {
  opacity: 1;
}

.my {
  text-align: center;
  font-size: 40px;
  width: 50%;
  padding-top: 30px;
}

.my:hover {
  background-color: rgb(236, 207, 172);
}

span {
  color: red;
}

.underline {
  position: relative;
  width: 6.250em;
  margin: 0 auto;
  color: rgb(100, 139, 33);
  font-weight: 700;
  text-align: center;
  width: 50%;
}

.underline span {
  position: absolute;
  top: -0.4em;
  -webkit-text-stroke: 1px rgb(21, 9, 9);
  color: transparent;
}

.works {
  text-align: center;
  font-size: 40px;
  width: 50%;
  transition: .5s;
}

.works:hover {
  background-color: rgb(236, 207, 172);
}

.works .blog {
  background-image: url('../../images/trabajo_angular.jpg');

  height: 300px;
  width: 500px;
  background-size: cover;
}
