<div class="container">
  <div class="my">
    <h2>MI NOMBRE ES RAIMON <span>.</span> <br>
      SOY <span>DEVELOPER
      </span> FULL-STACK</h2>
    <p>accede a mi CV</p>
  </div>
  <div class="underline">
    <hr noshade="noshade">
    <span>X</span>
  </div>
  <div class="photo">
    <div class="content">
      <div class="titleHover">SKILLS</div>
      <div>
        <h3> HTML</h3>
      </div>
      <div>
        <h3> CSS</h3>
      </div>
      <div>
        <h3> JS</h3>
      </div>
      <div>
        <h3> ANGULAR</h3>
      </div>
      <div>
        <h3> NODE JS</h3>
      </div>
      <div>
        <h3> EXPRESS</h3>
      </div>
      <div>
        <h3> MONGO DB</h3>
      </div>
      <div>
        <h3> BOOTSTRAP</h3>
      </div>
      <div>
        <h3> MYSQL</h3>
      </div>
    </div>
  </div>
  <div class="underline">
    <hr noshade="noshade">
    <span>X</span>
  </div>
  <div class="works">
    <h2>MIS TRABAJOS</h2>
    <div class="blog">
      <div>
        <h4></h4>
        <p></p>
      </div>
    </div>


    <div></div>
    <div></div>
  </div>
  <div class="underline">
    <hr noshade="noshade">
    <span>X</span>
  </div>
</div>
