.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
  gap: 10em;
}

.container div {
  width: 100%;
}

h2 {
  -webkit-text-stroke: 1px rgb(21, 9, 9);
  color: transparent;
}

.photo {
  margin-top: 100px;
  background-image: url('../../images/_DSC0172.JPG');
  background-size: cover;
  border: 2px solid rgb(21, 9, 9);
  border-radius: 35%;
  height: 50vh;
}

.my {
  text-align: center;
  font-size: 40px;
}

.my:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

span {
  color: red;
}

.underline {
  position: relative;
  width: 6.250em;
  margin: 0 auto;
  color: rgb(100, 139, 33);
  font-weight: 700;
  text-align: center;
}

.underline span {
  position: absolute;
  top: -0.4em;
  -webkit-text-stroke: 1px rgb(21, 9, 9);
  color: transparent;
}

.works {
  text-align: center;
  font-size: 40px;
}

.works:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
